@import "mixins.scss";

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
%container {
  margin: 0 auto;
  max-width: $content;
  padding: 0 15px;
  width: 100%;
}
