@import "mixins.scss";

%container {
  margin: 0 auto;
  max-width: $content;
  padding: 0 15px;
  width: 100%;
}
%section-padding {
  @include adaptive-value("padding-top", 100, 50);
  @include adaptive-value("padding-bottom", 110, 50);
}
