// Colors

$white: #fff;
$black: #000;
$colorPrimary: #212121;

// Sizes

$base-font-size: 16px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400;

$content: 1170px;

// Adaptive value

$maxWidth: 1500;
$maxWidthContainer: 1170;

// Fonts

$mainFont: "SourceSansPro";
