+b.features
    +e.container 
        +e.row 
            each item in content.features 
                +b.features-column.__column
                    +sectionTitle(item.title, item.text, item.icon)
